a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: sticky;
    top: 20%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;

    z-index: 2;

}

    .modal .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}
.hidden {
    display: none;
}
button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

.btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}


.btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

html {
    background-image: url('/Thermite Portfolio/17 - Dusttale FNF RTX - December 2021.png');
    background-size: cover;
    background-attachment: fixed;
}

body {
    justify-content: center;
    padding-left: 00px;
    padding-right: 00px;
    background-color: rgb(69,230,255); /* Fallback color */
    background-color: rgba(69,230,255,0.4); /* Black w/ opacity */
    border-radius: 8px;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.35);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.2);
    max-width: 80%;
}


main * {
    font-size: 18px;
}

#container {
    display:flex;
    justify-content: center;
    background-image: linear-gradient(45deg, #2d66eb, #cd29ff);
}


.theMedia {
    /* width: 20%; /* or any custom size */
    /*  height: 20%;*/
    object-fit: scale-down;
    max-height: 35%;
    max-width: 35%;
}

#imageHolder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 100%;
    padding: 30px;
}
