:root
{
	--border-highlight:#46334E;
	--border-shadow:#000000;
	--bar-color:#81629E;
	--center-color:#3E2738;
	--item-color:#CCBFFF;
	--backdrop-color:#311C37;
	--default-button-color:#AE7BBA;
	--highlighted-button-color:#FF9756;
	--first-shadow-color:rgba(6, 6, 32, 0.57);
	--second-shadow-color:#1A1857C9;
	--first-highlight-color:#FF9756;
	--second-highlight-color:#FFA5A5B8;
	--third-highlight-color:#FDFDFF;
	--third-shadow-color:#7265C3;
	--hyperlink-color:#FF7A5C;
}

html
{
	background-color:var(--backdrop-color);
	background-image:url("tesBg.png");
	background-size:cover;
	background-attachment:fixed;
	/*! background-size: 100%; */
	/*! width: 110%; */
	background-repeat: repeat-x;
}
body
{
	margin:auto;
}

#footerbar
{
	border-width:2vh;
	border-style:solid;
	border-top-color: var(--border-highlight);
	border-left-color:var(--border-highlight);
	border-right-color:var(--border-shadow);
	border-bottom-color:var(--border-shadow);
	background-color:var(--bar-color);
	margin-top:10vh;
	width:98%;
	display:flex;
	font-size:3.5vh;
	align-content:stretch;
	justify-content:flex-end;
	min-height:5vh;
	margin-right:5%;
	box-shadow: inset 0.35vh 0.35vh var(--second-highlight-color);
}
#footerbar *
{
	margin-top:1vh;
	margin-bottom:1vh;
	min-height:3.5vh;
	min-width:8.5vh;
	margin-right:2vh;
	color:white;
}



#footerbar a
{
	text-decoration:underline;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: var(--highlighted-button-color);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--item-color);
  font-size:2.5vh;
  min-width: 30vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0.5em 0.5em;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

.dropbtn {
  background-color:var(--default-button-color);
  color: white;
  padding: 0.5em;
  font-size: 3.5vh;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s;
  box-shadow: 0vh 0vh var(--first-shadow-color), inset 0.5vh 0.5vh var(--second-highlight-color);
  border-width:0.7vh;
	border-style:solid;
	border-top-color: var(--border-highlight);
	border-left-color:var(--border-highlight);
	border-right-color:var(--border-shadow);
	border-bottom-color:var(--border-shadow);
	background-color:var(--bar-color);
}

.show {display:block;} 

#headerbar, #headerbarsmall
{
	border-width:1vh;
	border-style:solid;
	border-top-color: var(--border-highlight);
	border-left-color:var(--border-highlight);
	border-right-color:var(--border-shadow);
	border-bottom-color:var(--border-shadow);
	background-color:var(--bar-color);
	color:white;
	display:flex;
	flex-wrap:wrap;
	background-color:var(--bar-color);
	overflow:visible;
	font-size:5vh;
	width:99%;
	box-shadow: 0vh 1.55vh var(--first-shadow-color), inset 0.7vh 0.7vh var(--second-highlight-color);
}

#centralContent
{
	display:flex;
	flex-direction:column;
	background-color:var(--center-color);
	margin-left:auto;
	margin-right:auto;
	box-shadow: 2vh 2vh var(--first-shadow-color), inset 1.2vh 1.2vh var(--first-highlight-color);
	border-width:2vh;
	border-style:solid;
	border-top-color: var(--border-highlight);
	border-left-color:var(--border-highlight);
	border-right-color:var(--border-shadow);
	border-bottom-color:var(--border-shadow);
	color:white;
}

#centralContent a
{
	color:var(--hyperlink-color);
	transition: color 0.5s, transform 0.4s, background-color 0.5s;
	transform:scale(1);
	display:inline-block;
	cursor:pointer;
}

#centralContent a:hover, #centralContent a:focus
{
	color:white;
	transform:scale(1.03);
}


@media screen and (width > 155vh)
{
	#centralContent
	{
		width:125vh;
		margin-top:8vh;
	}

}
@media screen and (110vh <= width <= 155vh)
{
	#centralContent
	{
		width:100vh;
		margin-top:8vh;
	}

}

@media screen and (width < 110vh)
{
	#centralContent
	{
		width:88vw;
		margin-top:3.5vh;
	}

}
